@import url("reset.css");
a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  /* font-weight: 400;
  font-style: normal; */
}

:root {
  --text-color: #383838;
}

body {
  color: var(--text-color);
  background: #e9eaee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SUITE-Regular";
  /* font-family: "SUITE"; */
}

* {
  box-sizing: border-box;
}

.App {
  width: 500px;
  /* height: 900px; */
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 23.3px 11px rgba(158, 156, 156, 0.11);
}

.home,
.test {
  height: 800px;
}

.home {
  height: 100%;
  /* padding: 126px 0 156px; */
  padding: 80px 0 76px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.title-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.title-wrap h1 {
  color: #f8ab52;
  text-align: center;
  font-size: 52px;
  font-weight: 900;
}

.title-wrap h2 {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 600;
}

.home-img {
  position: absolute;
  /* width: 228px;
  height: 193px; */
  width: 167px;
  height: 140px;
  top: -124px;
  left: 50%;
  transform: translateX(-50%);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 130px;
  align-items: center;
}

.btn-wrap,
.answer-btns {
  position: relative;
  width: 80%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 15px;
}

.btn {
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  font-weight: 700;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.4s;
}

.start-btn {
  background: #ffda72;
}

.start-btn:hover {
  background: #fbc348;
}

.share-btn {
  display: flex;
  background: #02254d;
  color: #fff;
}

.share-btn:hover {
  background: #134279;
}

/* question */
.test-testing {
  width: 100%;
  height: 100%;
  padding: 60px 0 156px;
  text-align: center;
}

.q-number {
  color: #f8ab52;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
}

.question {
  color: #343434;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%; /* 32px */
  height: 270px;
}

.btn.answer {
  font-size: 18px;
  font-weight: 500;
  border: none;
  background: #dee4f2;
}

.btn.answer:hover {
  background: #c0cfe2;
}

.progress-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  /* margin: 60px auto 120px; */
}

.progress {
  margin: 0 auto 120px;
  width: 70%;
  height: 24px;
  border-radius: 30px;
  background: #fdf5d2;
  position: relative;
  display: inline-block;
}

.progress-bar {
  position: absolute;
  height: 24px;
  border-radius: 30px;
  background: #ffda72;
}

.p-number {
  color: #c0cfe2;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
  padding-left: 20px;
}

.answer-btns {
  margin: 0 auto;
}

.result-loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 250px 0;
  width: 100%;
}

.result-loading > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  /* height: 100%; */
}
.result-loading svg {
  width: 50px;
  height: 50px;
}

.result-loading a {
  width: 300px;
  /* padding: 20px 40px; */
  background: #ffda72;
  border-radius: 50px;
}

/* result */
.result {
  padding: 66px 0 36px;
}

.overflow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  /* height: 354px;
  overflow: scroll; */
}
/* 
.overflow::-webkit-scrollbar {
  width: 0.5em;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: transparent;
} */

.result-wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.result h2 {
  color: #f8ab52;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.mbti {
  width: 100%;
  border-radius: 20px;
  border: 2px solid #ffda72;
  background: #fffaee;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.mbti h3 {
  color: #4c3d3d;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.mbti h3 strong {
  font-weight: 700;
}

.mbti h4 {
  color: #404040;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  background: #ffe897;
  padding: 15px 20px;
  border-radius: 10px;
}

.mbti img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.result-desc {
  border-radius: 20px;
  border: 2px solid #fbc348;
  padding: 24px;
  line-height: 1.3;
}

.tags-wrap h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tags > p {
  background: #ecf7fb;
  padding: 10px 16px;
  border-radius: 20px;
  transition: 0.4s;
}

.tags > p:hover {
  background: #d6edf6;
}

.chemistry {
  display: flex;
  gap: 20px;
}

.chemistry > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex: 1;
  border-radius: 20px;
  padding: 20px 0;
}

.mbti-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 16px;
}

.mbti-wrap > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.best {
  background: #f8d8c1;
}

.worst {
  background: #c7d7fb;
}

.mbti-wrap p {
  color: #6d6d6d;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
}

.chemistry img {
  width: 70px;
  height: 70px;
}

.result-wrap .btn-wrap {
  width: 100%;
}

.random-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 200px;
  background: url(../asset/bubble.png) no-repeat center/cover;
  padding-bottom: 30px;
}

.random-container img {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  /* transition: top 1s ease, left 1s ease, transform 1s ease; */
}

/* 모바일 미디어 쿼리 */
@media (max-width: 479px) {
  .App {
    width: 100vw;
    border-radius: 0;
    box-shadow: none;
  }
  .home,
  .test {
    height: 100vh;
    width: 100vw;
  }

  .title-wrap {
    gap: 18px;
  }

  .title-wrap h1 {
    font-size: 40px;
  }

  .title-wrap h2 {
    font-size: 28px;
  }

  .home-img {
    position: absolute;
    /* width: 228px;
    height: 193px; */
    width: 167px;
    height: 140px;
    top: -124px;
    left: 50%;
    transform: translateX(-50%);
  }

  .random-container {
    width: 250px;
    height: 190px;
  }
  .question {
    height: 230px;
    font-size: 28px;
  }

  /* 추가적인 모바일 전용 스타일 */
}
